/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, section, footer {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 150px;
    width: 100%;
}

#carousel img {
    max-width: 100%;
    height: auto;
}

.price-tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 90, 95, 0.8);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

#property-details h1 {
    font-size: 24px;
}

#amenities-icons img {
    margin-right: 10px;
}

#contact-info img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    #logo {
        margin-bottom: 10px;
    }

    #property-details h1 {
        font-size: 20px;
    }

    #amenities-icons {
        text-align: center;
    }

    #amenities-icons img {
        margin: 0 auto;
    }

    #contact-info ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    #contact-info li {
        margin-bottom: 10px;
    }
}
